.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  font-size: var(--common-size);
  font-weight: 500;
}

.navbar__menu a {
  text-decoration: none;
  color: var(--faded-text);
  padding-bottom: 10px;
}

.navbar__menu a:hover{
  color: var(--faded-hover-text);
  border-bottom: 1px solid var(--faded-hover-text);
}

.navbar__menu input {
  border: none;
  padding-bottom: 3px;
  border-bottom: 1px solid var(--faded-text);
  padding-bottom: 10px;
}

.navbar__menu input:focus {
  outline: none;
}
