/* rgb(242, 206, 151) -back */
/* rgb(72, 73, 86) - left */
/* rgb(227, 123, 98) - line */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: rgb(242, 206, 151);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 1000px;
  background: #fff;
  display: flex;
  box-shadow: 0 22px 50px rgba(14, 21, 47, 0.2),
    0 8px 20px rgba(14, 21, 47, 0.2);
}

.card__left {
  width: 40%;
  background: rgb(72, 73, 86);
  color: #fff;
  padding: 40px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 32px;
  font-weight: 700;
}

.card__subtitle {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.card__line {
  width: 50px;
  height: 4px;
  background: rgb(227, 123, 98);
}

.card__left__footer {
  display: flex;
  align-items: center;
}

.card__author__image img {
  border-radius: 50%;
  width: 60px;
  margin-right: 15px;
  box-shadow: 2px 22px 50px rgba(14, 21, 47, 0.2),
    2px 8px 20px rgba(14, 21, 47, 0.2);
}

.card__right {
  width: 60%;
  font-size: 20px;
  line-height: 1.6;
  color: #444;
}

.card__content {
  padding: 40px 40px 30px;
}

.card__content p {
  margin: 0;
}

.first-letter {
  font-size: 34px;
  font-weight: 500;
}

.card__content p:first-child {
  margin-bottom: 15px;
}

.card__right__footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  font-size: 16px;
  border-top: 5px solid rgb(247, 247, 247);
}

.card__right__info {
  display: flex;
  align-items: center;
}

.card__right__numcomments {
  margin-left: 10px;
  margin-right: 20px;
}
